---
layout: layouts/base.njk
---

<article>
  <div class="meta-insertion flex items-center mb-8">
    {% if userpic %}
      <img src="{{ userpic | replace('../userpics/', '/img/blog/userpics/') }}" alt="Userpic" class="w-12 h-12 rounded-full mr-4" />
    {% endif %}
    <div>
      <div class="author font-semibold text-gray-700 text-sm mb-1">Matt Arnold</div>
      <div class="date text-xs text-gray-400">{{ date | readableDate }}</div>
    </div>
  </div>
  {% set mytags = tags or (page and page.tags) or (data and data.tags) %}
  {% if mytags %}
    <div class="mb-8 text-sm text-gray-600">
      <span class="font-semibold">Tags:</span>
      <ul class="inline">
        {% for tag in mytags %}
          <li class="inline mr-2"><a href="/blog/?tag={{ tag | url }}" class="underline hover:text-blue-600">{{ tag }}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  {{ content | safe }}
</article>
